@using Application.MainBoundedContext.DTO

@model DepartmentDTO
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building fa-fw" aria-hidden="true"></i></span>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md alphanumberspace", placeholder = "Name" })
                @Html.ValidationMessageFor(model => model.Name)

            </div>
        </div>
    </div>


</div>
