<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DefaultApplicationDomainName" value="DEV_FSA" />
    <add key="FileUploadDirectory" value="C:\bayes_file_uploads\" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="BLOBStore" connectionString="Data Source=(local);Initial Catalog=BayesDB_BLOBStore;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient" />
    <add name="DEV_FSA" connectionString="Data Source=(local);Initial Catalog=Jamii_Application;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="DistributedServices.Seedwork.EndpointBehaviors.SilverlightFaultBehavior, DistributedServices.Seedwork" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <!--<silverlightFaults/>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior0">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customBindingHTTP">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.AuditLogService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IAuditLogService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.FileUploadService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IFileUploadService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.MediaService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IMediaService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.UtilityService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IUtilityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.EmailAlertService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IEmailAlertService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.CompanyService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.ICompanyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.DepartmentService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IDepartmentService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.EmployeeService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IEmployeeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.PersonService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IPersonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="serviceBehavior0" name="DistributedServices.MainBoundedContext.PatientService">
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="DistributedServices.MainBoundedContext.IPatientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!--<diagnostics wmiProviderEnabled="true">
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {C8D4E2CD-B8DD-4096-9466-A49AEE5F9EB3}-->